In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\hp\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
# Shows the total rows and columns of the data

df.shape

(60943, 12)

In [4]:
# Check for missing values

df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].describe()

,Y2014,Y2015,Y2016,Y2017,Y2018
count,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.196282,135.235966,136.555222,140.917765,143.758381
std,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.090000,0.080000,0.080000,0.100000,0.070000
75%,8.340000,8.460000,8.430000,9.000000,9.000000
max,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
# What year has the highest sum of Stock Variation?

highest_stock = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
highest_stock

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [8]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

year = df['Y2017']

# Calculate the mean and standard deviation for the year 2017
mean = year.mean()
std_dev = year.std()


print("The mean for the year 2017:", round(mean, 2))
print("The Standard Deviation for the year 2017:", round(std_dev, 2))

The mean for the year 2017: 140.92
The Standard Deviation for the year 2017: 1671.86

In [9]:
# What is the total number of unique countries in the dataset?

countries_count = df['Area'].nunique()
countries_count

49

In [10]:
# Selecting columns 'Y2017' and 'Area'
selected_column_df = df[['Y2017', 'Area']]

# Group by 'Area'
group_df = selected_column_df.groupby('Area').sum()

sort_df = group_df.sort_values(by='Y2017')

# Finding the area with the 7th lowest sum in 2017
seventh_lowest_sum = sort_df.index[6] 

print("Area with the 7th lowest sum in 2017:", seventh_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [11]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

# Calculate the total number of missing values in the 'Y2014' column
missing_values = df['Y2014'].isnull().sum()

# Get the total number of rows in the dataset
total_rows = len(df)

# Calculate the percentage of missing values
percentage = (missing_values / total_rows) * 100

# Round the results to 3 decimal places
percentage = round(percentage, 3)

print("Total number of missing values in 2014:", missing_values)
print("Percentage of missing values in 2014:", percentage, "%")

Total number of missing values in 2014: 1589
Percentage of missing values in 2014: 2.607 %

In [12]:
# What is the total number of the sum of Processing in 2017?

processing_sum = df[df['Element'] == 'Processing']['Y2017'].sum()
processing_sum

292836.0

In [13]:
#Which year had the least correlation with ‘Element Code’?

# Extracting relevant columns
data = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# Calculating correlation between 'Element Code' and each year
correlation = data.corr()['Element Code'].drop('Element Code')

# Finding the year with the least correlation
correlation

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

In [15]:
# Group by 'Area' and calculate the sum of 'Y2017'
country = df.groupby('Area')['Y2017'].sum().rename('Total Area').reset_index()

# Sort the DataFrame by the 'Total Area' column in descending order and get the top row
country = country.sort_values('Total Area', ascending=False).head(1)

# Print the result
print("Area with the highest sum in 2017:")
print(country)

Area with the highest sum in 2017:
       Area  Total Area
34  Nigeria  1483268.23

In [16]:
#  Which of these Areas had the highest sum in 2017?

grouped = df.groupby('Area')['Y2017'].sum()

# Find the area with the highest sum in 2017
area_highest_sum_2017 = grouped.idxmax()

print("Area with the highest sum in 2017:", area_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

In [17]:
# What is the total sum of Wine produced in 2015 and 2018 respectively?


wine_2015 = round(df[df['Item'] == 'Wine']['Y2015'].sum(), 2) # round by 2
wine_2018 = round(df[df['Item'] == 'Wine']['Y2018'].sum(), 2)

# Print the results
print("Total sum of Wine produced in 2015:", wine_2015)
print("Total sum of Wine produced in 2018:", wine_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [18]:
# Calculate the total protein supply quantity in Madagascar in 2015

protein_supply = df.loc[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)'), 'Y2015'].sum()
protein_supply_result = round(protein_supply, 2) # round the result by 2

print("Total protein supply quantity in Madagascar in 2015:", protein_supply_result)

Total protein supply quantity in Madagascar in 2015: 173.05